.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    height: 500px;

    grid-template-rows: 60xp 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas: "h h" "n c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(143, 93, 245);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}